*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Wix Madefor Text', sans-serif;  
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #fffcef;
}

/*navbar text hover*/

nav {
    height: 10vh;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    position: fixed;  /* Makes the navbar stay in place */
    top: 0;           /* Sticks to the top */
    left: 0;
    right: 0;
    z-index: 1000;    /* Ensures it stays above other elements */
    background-color: #fffcef; 
}

a{
    position: relative;
    text-decoration: none;
    font-family: 'Wix Madefor Text', sans-serif;  
    color: rgb(24, 24, 24);
    font-size: 18px;
    letter-spacing: 0.5px;
}
a:after{
    content: "";
    position: absolute;
    background-color: rgb(24, 24, 24);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a:hover:after{
    width: 100%;
}

/*Title section*/
.header-container {
    margin-top: 300px;
    margin-left: 200px;
}

h1 {
    color: rgb(24, 24, 24);
    font-size: 3em;
    margin-bottom: 0px;
}
h2 {
    margin-bottom: 15px;
    color: rgb(24, 24, 24);
    font-size: 5em;
}

.software {
    color: rgb(24, 24, 24);
}

p {
    color: rgb(24, 24, 24);
    font-size: 1.5em;
}

/*About section*/
.about {
    margin-top: 500px;
    text-align: center;
}