/* styles.css */
body {
    font-family: 'Wix Madefor Text', sans-serif;  
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #100a27;
}

.navbar {
    overflow: hidden;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
        float: right;
}

/*navbar text*/
.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 40px;
    font-weight: bold;
    text-decoration: none;
}

/*navbar text hover*/
.menu a:hover {
    background-color: #575757;
}

/*Title section*/
.header-container {
    margin-top: 250px;
    align-items: center;
    margin-left: 240px;
}
h1 {
    color: white;
    font-size: 6em;
    margin-bottom: 0px;
}
h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 6em;
}
.avery {
    color:#40e0bd; 
}

.software {
    color: rgb(247, 69, 178);
}

p {
    color: white;
    font-size: 2em;
}

/*About section*/
.about {
    margin-top: 500px;
    text-align: center;
}